@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto Sans JP';
}

.container {
  width: 100vw;
  
}

.index-bg {
  background-image: url('https://images.unsplash.com/photo-1591152582028-58e8c61e205c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 100vh;
}

.showroom-bg {
  /* background-image: url('https://images.unsplash.com/photo-1551777995-e47e7ba6d1f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 100vh;
  /* background-color: cornsilk; */

  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,.2);
  padding: 15px 25px;
}

nav .logo {
  color: #fff;
  display: flex;
  align-items: center;
}

nav .logo h1 {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(95, 95, 95);
  line-height: 26px;
}

nav ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

nav ul li {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;;
  border-bottom: 1px #5f5f5f solid;
  border-radius: 5px;
  padding: 8px;
}

nav ul li a,nav ul li a:hover {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

#input-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

#input-wrap .booking {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 100px;
  margin: 10px;
  /* padding: 10px; */
  background-color: aliceblue;
  position: absolute;
  top: -60px;
}

#input-wrap .booking input {
  width: 35%;
  border: 0;
}

#input-wrap .booking button {
  width: 30%;
  border: 0;

  height: 100%;
}

#sec-one {
  background-color: aliceblue;
  padding: 20px 250px;
}

#sec-one .heading {
  /* text-align: center; */
  /* text-transform: uppercase; */
  min-width: 500px;
  max-width: 900px;
  font-weight: 100;
  font-size: 520%;
  letter-spacing: 1px;
}

#sec-one .description {
  padding: 100px 50px;
}

#sec-one .description #rooms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sec-one .description #rooms .room {
  /* border: 1px solid #000; */
  margin: 40px;
  
  position: relative;
}

#sec-one .description #rooms .room a {
  text-decoration: none;
}

#sec-one .description #rooms .room a img {
  width: 250px;
  height: 150px;
}

#sec-one .description #rooms .room .text {
  background-color: rgba(224,255,255, .3);
  padding: 30px;
  position: absolute;
  width: 200px;
  top: 100px;
  left: 100px;
}

#sec-two {
  height: 400px;
}


/* showroom */

section#action {
  width: 800px;
  height: 80px;
  margin: 10px auto;
  /* background-color: turquoise; */

}

#action .wraper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

#action .wraper .title {
  font-size: 1.8rem;
  font-weight: 600;
}

#action .wraper .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 130px;
}

#action .wraper .price h4 {
  opacity: .5;
  font-size: .7rem;
  margin: 10px 0;
}

#action .wraper .price p {
  font-weight: 600;
  font-size: 1.4rem;
}

#action .wraper a {
  border: 3px solid turquoise;
  padding: 15px 40px 20px 40px;
  border-radius: 30px;
  background-color: turquoise;
  text-decoration: none;
  color: #5f5f5f;
  font-weight: 500;
}

#action .wraper a:hover {
  background-color: whitesmoke;
  border: 3px solid #5f5f5f;
}





section#gallery {
  display: flex;
  justify-content: center;
  /* height: calc(100% - 94px); */
  height: 85%;
  /* background-color: aliceblue; */
}

.room-gallery {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.gallery-hightlight {
  width: 100%;
  height: 70%;
}

.room-preview {
  margin-top: 10px;
  display: flex;
  width: 60%;
  border: 2px solid #e2d2c0;
}

.room-preview img {
  height: 150px;
  flex-grow: 1;
  opacity: .6;
  cursor: pointer;
  transition: opacity .3s ease;
}

img.room-active {
  opacity: 1;
}

section#info {
  display: flex;
  justify-content: center; 
}

#info .info-wrap {
  width: 800px;
  display: flex;
}

#info .short-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* padding: 40px; */
  height: 100px;
  width: 175px;
  background-color: rgba(125,125,125,.1);
}

#info .short-desc .heading {
  font-weight: 500;
  opacity: 50%;
  font-size: 1rem;
}

#info .short-desc .content {
  font-weight: 500;
  opacity: 80%;
  font-size: 2rem;
}

#info .short-desc .content small {
  font-size: 1rem;
}

section#description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
}

#description .desc-wrap {
  display: flex;
  justify-content: center;
  width: 800px;
}

#description .desc-wrap .left {
  width: 50%;
  padding: 20px;
}
#description .desc-wrap .left h3 {

}

#description .desc-wrap .left p {
  margin-left: 5px;
}

#description .desc-wrap .left .detail {
  height: 30px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#description .desc-wrap .left .detail h4 {
  opacity: .5;
  font-size: .8rem;
  margin: 10px 0;
}

#description .desc-wrap .left .detail p {
  font-weight: 500;
}



#description .desc-wrap .right {
  border: 3px solid rgba(125,125,125,.08);
  border-radius: 5px;
  padding: 20px;
  width: 50%;
}

#description .desc-wrap h3 {
  margin: 10px 0 10px 0;
  font-weight: 400;
  font-size: 1.3rem;
}

#description .desc-wrap p {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  /* margin: 15px 0; */
}
#description .desc-wrap ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  /* background-color: tomato; */
  width: 100%;
}

#description .desc-wrap li {
  /* background-color: #e2d2c0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 105px;
  padding: 15px;
  /* background-color: silver; */
  margin: 5px;
}

#description .desc-wrap li h4 {
  opacity: .5;
  font-size: .7rem;
  margin: 10px 0;
}

#description .desc-wrap li .fade {
  opacity: .1;
}

/* POPUP */
#popup {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
}

#popup.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; 
}

#popup .popup-container {
  background-color: azure;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#popup .popup-container h4 {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}




/* MODAL */
.modal {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;

  /* background-color: rgba(235,235,235,1); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100wh;

  /* clear: both; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; 
}

.modal .modal-overlay {
  /* clear: both; */
  /* background-color: khaki; */
  background-color: #f3f3f3;
  /* background-color: #fff; */
  width: 700px;
  height: 470px;
  border: 5px solid rgba(0,0,0,.08);
  border-radius: 15px;
  padding: 40px;

  position: relative;
}


.modal .modal-overlay .modal-close {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.modal .modal-overlay .modal-container {
  /* background-color: tomato; */
}

.modal .modal-overlay .modal-container .date-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: lightgrey; */
}

.modal .modal-overlay .modal-container .date-container .datepicker {
  display: flex;
  flex-direction: column;
}

.modal .modal-overlay .modal-container .info-container {
  display: flex;
  flex-direction: column;
  /* background-color: lightsteelblue; */
}

.modal .modal-overlay .modal-container .info-container #helpText {
  color: tomato;
  font-weight: 200;
  font-size: .8rem;
}

.modal .modal-overlay .modal-container .info-container .form-group label,
.modal .modal-overlay .modal-container .info-container .form-group input  {
  display: block;
  width: 100%;
}

.modal .modal-overlay .modal-container .info-container label {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 20px 0 10px 0;
  letter-spacing: 1px;
  color: #5f5f5f;
}

.modal .modal-overlay .modal-container .info-container input {
  /* margin: 10px 0; */
  padding: 10px;
  height: 45px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border: 0;
  outline: none;
  font-family: 'Noto Sans JP';
  font-weight: 100;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0,0,0,.1);
}

.modal .modal-overlay .modal-container .info-container button {
  margin: 20px 20px 20px 0;
  border: 3px solid rgba(125,125,125, .3);
  border-radius: 2px;
  height: 45px;
  width: 100px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: 'Noto Sans JP';
  font-weight: 100;
}



/* Date-Picker */
.dp {
  margin: 10px 0px;
  color: #313131;
  font-size: 33px;
  font-weight: 900;
  text-align: center;
}

.dp span {
  font-weight: 300;
}

.date-picker {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 60px;
  background-color: #fff;
  margin: 10px auto;
  box-shadow: 0px 2px 6px rgba(0,0,0,.1);
  cursor: pointer;
  user-select: none;
}

.date-picker:hover {
  background-color: turquoise;
  /* border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; */
}

/* .date-picker:hover,
.date-picker:hover + .date-picker {
  background-color: turquoise;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
} */

.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 28px;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.date-picker .dates.active {
  display: block;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}
.date-picker .dates .month .arrows:active {
  background-color: tomato;
}

.date-picker .dates .days {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
}

.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

.date-picker .dates .days .selected {
  background-color: tomato;
}